td {
    text-align:center;
    border-bottom: 1px solid red;
    padding:5px;
    text-align:center;
}
button {
    border: 1px solid #CCC;
    width:80px;
}
button.delete {
    background: white;
    color:#F00;
}